@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Customize scroll bar */
::-webkit-scrollbar {
  width: 8px; /* width */
}

::-webkit-scrollbar-thumb {
  background: #3f3f47; /* violet-600 */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* gray-200 */
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

/* * { outline: 1px solid red } */



